@model myapp.Areas.Staff.Models.DashboardModel;

@{
    int vacantRoomsVacancy = Model.Counts.FirstOrDefault(r => r.Metrics == "TotalVacancyInRooms").Value;
    int fullRoomsVacancy = Model.Counts.FirstOrDefault(r => r.Metrics == "TotalFullRooms").Value;
    int totalRoomsVacancy = Model.Counts.FirstOrDefault(r => r.Metrics == "TotalCapacityOfRooms").Value;
    int totalComplains = Model.Counts.FirstOrDefault(r => r.Metrics == "TotalComplaintsCount").Value;
    int pendingComplains = Model.Counts.FirstOrDefault(r => r.Metrics == "TotalPendingComplaintsCount").Value;
    int acceptedComplains = Model.Counts.FirstOrDefault(r => r.Metrics == "TotalAcceptedComplaintsCount").Value;
    int rejectedComplains = Model.Counts.FirstOrDefault(r => r.Metrics == "TotalRejectedComplaintsCount").Value;
    int completedComplains = Model.Counts.FirstOrDefault(r => r.Metrics == "TotalCompletedComplaintsCount").Value;

    int vacantPercentage = (vacantRoomsVacancy * 100) / totalRoomsVacancy;
    int fullPercentage = (fullRoomsVacancy * 100) / totalRoomsVacancy;
}

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="card gradient-1 card-bx">
                    <div class="card-body d-flex align-items-center">
                        <div class="me-auto text-white">
                            <h2 class="text-white">@Model.Counts.FirstOrDefault(c => c.Metrics == "TotalStudentCount")?.Value</h2>
                            <span class="fs-18">Total Students</span>
                        </div>
                        <svg width="58"
                        height="58"
                        viewBox="0 0 58 58"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M29.0611 39.4402L13.7104 52.5947C12.9941 53.2089 11.9873 53.3497 11.1271 52.9556C10.2697 52.5614 9.7226 51.7041 9.7226 50.7597C9.7226 50.7597 9.7226 26.8794 9.7226 14.5028C9.7226 9.16424 14.0517 4.83655 19.3904 4.83655H38.7289C44.0704 4.83655 48.3995 9.16424 48.3995 14.5028V50.7597C48.3995 51.7041 47.8495 52.5614 46.9922 52.9556C46.1348 53.3497 45.1252 53.2089 44.4088 52.5947L29.0611 39.4402ZM43.5656 14.5028C43.5656 11.8335 41.3996 9.66841 38.7289 9.66841C33.0207 9.66841 25.1014 9.66841 19.3904 9.66841C16.7196 9.66841 14.5565 11.8335 14.5565 14.5028V45.5056L27.4873 34.4215C28.3926 33.646 29.7266 33.646 30.6319 34.4215L43.5656 45.5056V14.5028Z"
                            fill="white" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card gradient-2 card-bx">
                    <div class="card-body d-flex align-items-center">
                        <div class="me-auto text-white">
                            <h2 class="text-white">@Model.Counts.FirstOrDefault(c => c.Metrics == "TotalPresentStudentCount")?.Value</h2>
                            <span class="fs-18">Present Student</span>
                        </div>
                        <svg width="58"
                        height="58"
                        viewBox="0 0 58 58"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M36.25 9.66665V7.24998C36.25 5.91598 37.3327 4.83331 38.6667 4.83331C40.0007 4.83331 41.0833 5.91598 41.0833 7.24998V9.66665C46.4242 9.66665 50.75 13.9949 50.75 19.3333V43.5C50.75 48.8384 46.4242 53.1666 41.0833 53.1666C34.1741 53.1666 23.8283 53.1666 16.9167 53.1666C11.5782 53.1666 7.25 48.8384 7.25 43.5V19.3333C7.25 13.9949 11.5782 9.66665 16.9167 9.66665V7.24998C16.9167 5.91598 17.9993 4.83331 19.3333 4.83331C20.6673 4.83331 21.75 5.91598 21.75 7.24998V9.66665H36.25ZM45.9167 29H12.0833V43.5C12.0833 46.168 14.2487 48.3333 16.9167 48.3333H41.0833C43.7537 48.3333 45.9167 46.168 45.9167 43.5V29ZM33.5748 37.8329L36.9822 34.5172C37.9392 33.5868 39.469 33.6086 40.3994 34.5656C41.3298 35.5202 41.3081 37.0523 40.3535 37.9827L35.3848 42.8161C34.4955 43.6788 33.1011 43.732 32.1513 42.9393L29.4302 40.6677C28.4055 39.8146 28.2677 38.2896 29.1232 37.265C29.9763 36.2403 31.5012 36.1026 32.5259 36.9581L33.5748 37.8329ZM41.0833 14.5V16.9166C41.0833 18.2506 40.0007 19.3333 38.6667 19.3333C37.3327 19.3333 36.25 18.2506 36.25 16.9166V14.5H21.75V16.9166C21.75 18.2506 20.6673 19.3333 19.3333 19.3333C17.9993 19.3333 16.9167 18.2506 16.9167 16.9166V14.5C14.2487 14.5 12.0833 16.6629 12.0833 19.3333V24.1666H45.9167V19.3333C45.9167 16.6629 43.7537 14.5 41.0833 14.5Z"
                            fill="white" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card gradient-3 card-bx">
                    <div class="card-body d-flex align-items-center">
                        <div class="me-auto text-white">
                            <h2 class="text-white">@Model.Counts.FirstOrDefault(r => r.Metrics == "TotalRoomCount")?.Value</h2>
                            <span class="fs-18">Total Rooms</span>
                        </div>
                        <svg width="58"
                        height="58"
                        viewBox="0 0 58 58"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M9.66671 38.6667V43.5C9.66671 48.8409 13.995 53.1667 19.3334 53.1667H43.5C48.8409 53.1667 53.1667 48.8409 53.1667 43.5C53.1667 35.455 53.1667 22.5475 53.1667 14.5C53.1667 9.16162 48.8409 4.83337 43.5 4.83337C36.5908 4.83337 26.245 4.83337 19.3334 4.83337C13.995 4.83337 9.66671 9.16162 9.66671 14.5V19.3334C9.66671 20.6674 10.7494 21.75 12.0834 21.75C13.4174 21.75 14.5 20.6674 14.5 19.3334C14.5 19.3334 14.5 17.069 14.5 14.5C14.5 11.832 16.6654 9.66671 19.3334 9.66671H43.5C46.1705 9.66671 48.3334 11.832 48.3334 14.5V43.5C48.3334 46.1705 46.1705 48.3334 43.5 48.3334C36.5908 48.3334 26.245 48.3334 19.3334 48.3334C16.6654 48.3334 14.5 46.1705 14.5 43.5C14.5 40.9335 14.5 38.6667 14.5 38.6667C14.5 37.3351 13.4174 36.25 12.0834 36.25C10.7494 36.25 9.66671 37.3351 9.66671 38.6667ZM27.9995 26.5834L24.8748 23.461C23.9323 22.5161 23.9323 20.9864 24.8748 20.0415C25.8197 19.099 27.3495 19.099 28.292 20.0415L35.542 27.2915C36.4869 28.2364 36.4869 29.7661 35.542 30.711L28.292 37.961C27.3495 38.9035 25.8197 38.9035 24.8748 37.961C23.9323 37.0161 23.9323 35.4864 24.8748 34.5415L27.9995 31.4167H7.25004C5.91604 31.4167 4.83337 30.334 4.83337 29C4.83337 27.6685 5.91604 26.5834 7.25004 26.5834H27.9995Z"
                            fill="white" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card gradient-4 card-bx">
                    <div class="card-body d-flex align-items-center">
                        <div class="me-auto text-white">
                            <h2 class="text-white">@Model.Counts.FirstOrDefault(c => c.Metrics == "TotalVacantRoomCount")?.Value</h2>
                            <span class="fs-18">Vacant Rooms</span>
                        </div>
                        <svg width="57"
                        height="46"
                        viewBox="0 0 57 46"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M8.55512 20.7503L11.4641 17.8435C12.3415 16.9638 12.3415 15.5397 11.4641 14.6601C10.5844 13.7827 9.16031 13.7827 8.28289 14.6601L1.53353 21.4094C0.653858 22.2891 0.653858 23.7132 1.53353 24.5929L8.28289 31.3422C9.16031 32.2197 10.5844 32.2197 11.4641 31.3422C12.3415 30.4626 12.3415 29.0385 11.4641 28.1588L8.55512 25.2498H27.8718C29.1137 25.2498 30.1216 24.2419 30.1216 23C30.1216 21.7604 29.1137 20.7503 27.8718 20.7503H8.55512Z"
                            fill="white" />
                            <path fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.5038 31.9992V36.4987C16.5038 41.4708 20.5332 45.4979 25.5029 45.4979H48.0008C52.9728 45.4979 57 41.4708 57 36.4987C57 29.0092 57 16.9931 57 9.50129C57 4.53151 52.9728 0.502136 48.0008 0.502136C41.5687 0.502136 31.9373 0.502136 25.5029 0.502136C20.5332 0.502136 16.5038 4.53151 16.5038 9.50129V14.0009C16.5038 15.2427 17.5117 16.2507 18.7536 16.2507C19.9955 16.2507 21.0034 15.2427 21.0034 14.0009C21.0034 14.0009 21.0034 11.8928 21.0034 9.50129C21.0034 7.01752 23.0192 5.00171 25.5029 5.00171H48.0008C50.4868 5.00171 52.5004 7.01752 52.5004 9.50129V36.4987C52.5004 38.9848 50.4868 40.9983 48.0008 40.9983C41.5687 40.9983 31.9373 40.9983 25.5029 40.9983C23.0192 40.9983 21.0034 38.9848 21.0034 36.4987C21.0034 34.1095 21.0034 31.9992 21.0034 31.9992C21.0034 30.7595 19.9955 29.7494 18.7536 29.7494C17.5117 29.7494 16.5038 30.7595 16.5038 31.9992Z"
                            fill="white" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-xxl-4">
                <div class="row">
                    <div class="col-xl-12 col-sm-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div id="radialChart" class="radialChart"></div>
                                <h2>@Model.Counts.FirstOrDefault(r => r.Metrics == "TotalVacancyInRooms")?.Value</h2>
                                <span class="fs-16 text-black">Available Vacancy Today</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-sm-6">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h4 class="mb-0">Today's Room Status</h4>
                            </div>
                            <div class="card-body">
                                <div class="progress mb-4" style="height: 13px">
                                    <div class="progress-bar gradient-5 progress-animated"
                                    style="width: 100%; height: 13px"
                                    role="progressbar">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <div class="progress mb-4" style="height: 13px">
                                    <div class="progress-bar gradient-6 progress-animated"
                                    style="width: @vacantPercentage%; height: 13px"
                                    role="progressbar">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <div class="progress default-progress"
                                style="height: 13px">
                                    <div class="progress-bar gradient-7 progress-animated"
                                    style="width: @fullPercentage%; height: 13px"
                                    role="progressbar">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <div class="d-flex mt-4 progress-bar-legend align-items-center justify-content-between">
                                    <div class="d-flex">
                                        <span class="marker gradient-5"></span>
                                        <div>
                                            <p class="status">Total</p>
                                            <span class="result">@Model.Counts.FirstOrDefault(r => r.Metrics == "TotalCapacityOfRooms").Value</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <span class="marker gradient-6"></span>
                                        <div>
                                            <p class="status">Vacant</p>
                                            <span class="result">@Model.Counts.FirstOrDefault(r => r.Metrics == "TotalVacancyInRooms").Value</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <span class="marker gradient-7"></span>
                                        <div>
                                            <p class="status">Full</p>
                                            <span class="result">@Model.Counts.FirstOrDefault(r => r.Metrics == "TotalFullRooms").Value</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-xxl-8">
                <div class="card">
                    <div class="card-header border-0 d-sm-flex d-block">
                        <div class="me-auto mb-sm-0 mb-3">
                            <h4 class="card-title mb-2">Admissions Statistic</h4>
                            <span>Number of stduent taken admission so far.</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex me-5">
                                <h3 class="mb-0 me-2">@Model.Counts.FirstOrDefault(c => c.Metrics == "TotalStudentCount")?.Value</h3>
                                <span>Student Admissions</span>
                            </div>                                                  
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="reservationChart" class="reservationChart"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 d-flex align-items-center col-sm-6">
                                <div class="me-4">
                                    <span class="donut"
                                          data-peity='{ "fill": ["var(--primary)", "rgba(246, 246, 246)"], "innerRadius": 45, "radius": 10 }'>@completedComplains/@totalComplains</span>
                                </div>
                                <div>
                                    @* <h2>@((int)(@completedComplains * 100.0) / totalComplains)%</h2> *@
                                    <h2>@completedComplains</h2>
                                    <span class="fs-18">Completed Complaints</span>
                                </div>
                            </div>
                            <div class="col-xl-3 d-flex align-items-center col-sm-6">
                                <div class="me-4">
                                    <span class="donut"
                                          data-peity='{ "fill": ["#FFC368", "rgba(246, 246, 246)"], "innerRadius": 45, "radius": 10 }'>@pendingComplains/@totalComplains</span>
                                </div>
                                <div>
                                    @* <h2>@((int)(pendingComplains * 100.0) / totalComplains)%</h2> *@
                                    <h2>@pendingComplains</h2>
                                    <span class="fs-18">Pending Complaints</span>
                                </div>
                            </div>
                            <div class="col-xl-3 d-flex align-items-center col-sm-6">
                                <div class="me-4">
                                    <span class="donut"
                                          data-peity='{ "fill": ["#FF6E5A", "rgba(246, 246, 246)"], "innerRadius": 45, "radius": 10 }'>@acceptedComplains/@totalComplains</span>
                                </div>
                                <div>
                                    @* <h2>@((int)(acceptedComplains * 100.0) / totalComplains)%</h2> *@
                                    <h2>@acceptedComplains</h2>
                                    <span class="fs-18">Accepted Complaints</span>
                                </div>
                            </div>
                            <div class="col-xl-3 d-flex align-items-center col-sm-6">
                                <div class="me-4">
                                    <span class="donut"
                                          data-peity='{ "fill": ["#A84EC6", "rgba(246, 246, 246)"], "innerRadius": 45, "radius": 10 }'>@rejectedComplains/@totalComplains</span>
                                </div>
                                <div>
                                    @* <h2>@((int)(rejectedComplains * 100.0) / totalComplains)%</h2> *@
                                    <h2>@rejectedComplains</h2>
                                    <span class="fs-18">Rejected Complaints</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>           
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card h-auto">
                            <div class="card-body py-0 mt-3">
                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="card-title">Newest Admission</h4>
                                    <a href="@Url.Action("StudentList","Student",new {area="Staff"})" class="btn-link">More</a>
                                </div>
                                <div class="row">
                                    @foreach (var i in Model.NewestAdmission)
                                    {
                                        <div class="col-xl-6 col-sm-6">
                                            <div class="dz-image-bx rounded">
                                                <div class="dz-media me-3"> 
                                                <img class="rounded"
                                                         src="@i.StudentImage"
                                                         alt="" />
                                                </div>
                                                <div class="dz-info">
                                                    <h5>@i.StudentName</h5>
                                                    <span class="text-primary">@i.AdmissionDate.ToString("dd-MM-yyyy")</span>
                                                    <div class="d-flex flex-wrap mt-3">
                                                        <div class="me-auto pe-3">@i.RoomNumber</div>
                                                        <div>@i.RoomCapacity Person</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card h-auto">
                            <div class="card-header border-0">
                                <h4 class="card-title">Latest Complaints Review</h4>                               
                            </div>
                            <div class="card-body customer-review-bx p-0 dz-scroll loadmore-content"
                                 id="customerReviewContent">
                                @foreach (var i in Model.LatestComplaints)
                                {
                                    <div class="border-bottom p-4 hover-scale" style="transition: all 0.3s ease;">
                                        <div class="d-flex align-items-start">
                                            <img class="rounded-circle me-3 shadow-sm"
                                                 src="@i.ProfileImage"
                                                 alt="@i.StudentName"
                                                 style="width: 50px; height: 50px; object-fit: cover; border: 2px solid #fff;">

                                            <div class="flex-grow-1">
                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                    <div>
                                                        <h5 class="mb-0 fw-semibold">@i.StudentName</h5>
                                                        <small class="text-muted">@i.PostedAt.ToString("dd MMM yyyy • hh:mm tt")</small>
                                                    </div>
                                                    <span class="badge @(i.ComplaintStatus == "Pending" ? "bg-info" : i.ComplaintStatus == "Accepted" ? "bg-warning" : i.ComplaintStatus == "Rejected" ? "bg-danger" : i.ComplaintStatus == "Completed"? "bg-success":"")">
                                                        @i.ComplaintStatus
                                                    </span>
                                                </div>

                                                <p class="mb-0 text-dark opacity-85"
                                                   style="line-height: 1.6; max-width: 80%;">
                                                    @i.ComplaintBody
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var radialChart = function() {
            var vacantRooms = @Model.Counts.FirstOrDefault(c => c.Metrics == "TotalVacancyInRooms")?.Value ?? 0;
            var totalRooms = @Model.Counts.FirstOrDefault(c => c.Metrics == "TotalCapacityOfRooms")?.Value ?? 1;
            var vacancyPercentage = Math.round((vacantRooms / totalRooms) * 100);

            var options = {
                series: [vacancyPercentage],
                chart: {
                    height: 150,
                    type: 'radialBar',
                    sparkline: { enabled: true }
                },
                plotOptions: {
                    radialBar: {
                        hollow: { size: '35%' },
                        dataLabels: { show: false }
                    }
                },
                labels: ['Vacancy Rate'],
            };

            var chart = new ApexCharts(document.querySelector("#radialChart"), options);
            chart.render();
            
            document.querySelector('#radialChart + h2').textContent = vacantRooms;
        }

        var reservationChart = function() {
            var counts = '@Model.ReservationStatistic.FirstOrDefault()?.CountOfStudent' || '';
            var data = counts.split(',').map(Number);

            var options = {
                series: [{
                    name: 'Admissions',
                    data: data
                }],
                chart: {
                    height: 400,
                    type: 'area',
                    toolbar: { show: false }
                },
                colors: ["#FF6E5A"],
                dataLabels: { enabled: false },
                stroke: { width: 6, curve: 'smooth' },
                yaxis: {
                    labels: {
                        offsetX:-12,
                        style: {
                        colors: '#787878',
                        fontSize: '13px',
                        fontFamily: 'Poppins',
                        fontWeight: 400
                    }
                  },
                },
                xaxis: {
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    labels:{
                      style: {
                        colors: '#787878',
                        fontSize: '13px',
                        fontFamily: 'Poppins',
                        fontWeight: 400
                    },
                  }
                },
                fill:{
                    type:"solid",
                    opacity:0.1
                },
            };

            var chart = new ApexCharts(document.querySelector("#reservationChart"), options);
            chart.render();
        }       
       
            document.addEventListener('DOMContentLoaded', function() {
            radialChart();            
            reservationChart();
        });
    </script>
}